:root{
  --COLOR-primary-green: #114639;
  --COLOR-card-green: #e2ede9;
  --COLOR-secondary-text: #777777;
}

* {
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  background-color: white
}

.nav {
  padding: 1.5rem 2rem;
  display: flex;
  background-color: white;
}

.nav .menu{
  width: 100%;
  list-style: none;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.nav .nav-brand {
  font-weight: 900;
  order: 1;
}

.nav .nav-brand a {
  display: flex;
  text-decoration: none;
  color: black;
  gap: 10px;
  align-items: center;
}

.nav .nav-search {
  margin: 0 10%;
  width: 100%;
  position: relative;
  order: 2;
}

.nav-search input {
  padding: 10px 0;
  padding-left: 30px;
  padding-right: 10px;
  width: 100%
}

.nav-search label {
  position: absolute;
  top: 25%;
  left: 5px;
}

.nav .nav-cta {
  display: flex;
  flex-flow: row-reverse nowrap;
  gap: 1.5rem;
  order: 3;
}

.nav-cta a {
  display: flex;
  gap: 5px;
  align-items: center;
  text-decoration: none;
  color: black;
}

.nav .nav-bars{
  display: none;
}

.main {
  display: flex;
  flex-flow: column;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.categories {
  display: grid;
  justify-content: space-between;
  grid-template-areas: "item item";
  padding: 0 2rem;
  gap: 1rem;
}

.cat-image p {
  padding: 0;
  margin: 0;
  width: 100%;
  position: absolute;
  background-color: white;
  top: 50%;
  text-align: center;
}

.cat-image {
  position: relative;
  max-width: 50%;
  max-height: 140px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.banner {
  padding: 0 2rem;
  position: relative;
}

.banner-text{
  width: 50%;
  position: absolute;
  top: 25%;
  left: 25%;
  font-size: 2.5rem;
}

.banner h1{
  text-align: center;
  color: #114639;
}


.new-content {
  padding: 0 2rem;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  gap: 1rem;
}

.card {
  display: flex;
  flex: 1 1 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #e2ede9;
  border-radius: 10px;
  overflow: hidden;
}

.card .card-image{
  flex: 1 1 50%;
}

.card .card-image img{
  vertical-align: middle;
}


.card-body {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  flex: 1 1 50%;
  padding: 0 1rem;
  color: var(--COLOR-secondary-text);
}

.card .card-header{
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--COLOR-primary-green);
}

.footer {
  padding: 3rem;
  text-align: center;
  background-color: white;
}

.btn {
  box-shadow: 0px 2px 3px #595254;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  border-radius: 0.5rem;
  transition: all 0.2s ease 0s;
  cursor: pointer;
  background-color: #c4c4c4
}

.resp-image{
  width: 100%;
  height: auto;
}

@media (max-width: 750px) {
  .banner-text{
    width: 50%;
    font-size: 1rem;
    left: 25%;
  }
  .card .card-body .card-content{
    display: none;
  }
}
@media (max-width: 480px) {
  * {
  }
  .banner-text{
    width: 50%;
    font-size: 1rem;
    left: 25%;
  }
  .card .card-body .card-content{
    display: none;
  }
  .nav .nav-search{
    display: none;
  }
  .nav .nav-cta{
    display: none;
  }
  .nav .nav-bars{
    display: block;
    order: 2;
  }
  .categories {
    display: grid;
    grid-template-areas: "item item";
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  .new-content {
    flex-flow: column nowrap;
  }
}
